header{
    background-color: #53A8BB;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #FCFCFC;
}

nav{
    background-color: #53A8BB;
}

nav> ul{
    text-align:center;
}


nav> ul > li{
    display:inline-block;
    font-size: 25px;
    padding: 5px;
}

nav> ul > li > a{
    text-decoration:none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




footer{
    text-align: center;
}